{% extends 'orders/ship_now.html' %}

{% block content %}

<div class="container mt-4">
    {% if success_message %}
    <div class="alert alert-success">
        <p>{{ success_message }}</p>
    </div>
    {% endif %}
     <form action="{% url 'place_order' %}"  method="POST" class="jw-form-container">
                                            {% csrf_token %}
                                            <div class="jw-element-form-group">
                                                <label for="pickup_location" class="jw-element-form-label">Pick location(eir code):</label>
                                                <div class="jw-element-form-content">
                                                    <input type="text" name="pickup_location" required="required" id="pickup_location" pattern="[A-Za-z0-9]{3}[A-Za-z0-9]{2}[A-Za-z0-9]{2}" title="Please enter a valid Eircode (e.g., D12E9C7)" class="form-control&#x20;jw-element-form-input-text">
                                                </div>
                                            </div>
                                            <div class="jw-element-form-group">
                                                <label for="drop_location" class="jw-element-form-label">Drop location(eir code):</label>
                                                <div class="jw-element-form-content">
                                                    <input type="text" name="drop_location" required="required" id="drop_location" pattern="[A-Za-z0-9]{3}[A-Za-z0-9]{2}[A-Za-z0-9]{2}" title="Please enter a valid Eircode (e.g., D12E9C7)" class="form-control&#x20;jw-element-form-input-text">
                                                </div>
                                            </div>

                                            <div class="hidden"><label for="jwFormQ32MAm_captcha" class="jw-element-form-label">Leave this field empty</label>
                                                <div class="jw-element-form-content">
                                                    <input type="text" name="captcha" id="jwFormQ32MAm_captcha" class="form-control&#x20;jw-element-form-input-text" value="">
                                                </div>
                                            </div>
                                            <input type="hidden" name="csrf_3090566" id="jwFormsGo5U6_csrf_3090566" value="RlBTtPyYWSFKsGUq">
                                            <div class="jw-element-form-group">
                                                <button type="submit" class="jw-element-form-offset jw-btn jw-btn--size-small" name="submit">
                                                    <div class="jw-btn-caption">Place order</div>
                                                </button>
                                            </div>

                                        </form>
</div>



{% endblock %}