<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  <link rel="canonical" href="https://free-5666589.webadorsite.com/track-order">
        <meta property="og:title" content="Track order | TrackItNow">
        <meta property="og:url" content="https://free-5666589.webadorsite.com/track-order">
        <base href="https://free-5666589.webadorsite.com/"> -->
    <meta name="description" property="og:description" content="">
    <script nonce="4b72e2eb2267b5bf3560c9684eabce7a">
        window.JOUWWEB = window.JOUWWEB || {};
        window.JOUWWEB.application = window.JOUWWEB.application || {};
        window.JOUWWEB.application = {
            "editorLocale": "en-IE",
            "editorTimezone": "Europe\/Dublin",
            "editorLanguage": "en",
            "analytics4TrackingId": "G-E6PZPGE4QM",
            "noSsl": false,
            "build": {
                "reference": "d416c1b"
            },
            "assetsUrl": "https:\/\/assets.jwwb.nl",
            "developer": false
        };
    </script>
    <title>Track order | TrackItNow</title>
    <link href="https://assets.jwwb.nl/assets/brand/webador/icon/favicon.png?bust=2299e1307cbb69076146" rel="shortcut icon" />
    <link href="https://assets.jwwb.nl/assets/brand/webador/icon/favicon.png?bust=2299e1307cbb69076146" rel="icon" />
    <meta property="og:image" content="https&#x3A;&#x2F;&#x2F;assets.jwwb.nl&#x2F;assets&#x2F;templates&#x2F;concert-banner&#x2F;countdown&#x2F;slideshow.jpg&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;fit&#x3D;bounds&amp;width&#x3D;1200">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="https&#x3A;&#x2F;&#x2F;assets.jwwb.nl&#x2F;assets&#x2F;templates&#x2F;concert-banner&#x2F;countdown&#x2F;slideshow.jpg&#x3F;enable-io&#x3D;true&amp;enable&#x3D;upscale&amp;fit&#x3D;bounds&amp;width&#x3D;1200">
    <script src="https://plausible.io/js/script.manual.js" nonce="4b72e2eb2267b5bf3560c9684eabce7a" defer="1" data-domain="shard14.jouwweb.nl"></script>
    <link rel="stylesheet" type="text/css" href="https://gfonts.jwwb.nl/css?display=fallback&amp;family=Lato%3A400%2C700%2C400italic%2C700italic%7CMontserrat%3A400%2C700%2C400italic%2C700italic" />
    <link rel="preload" href="https://assets.jwwb.nl/assets/website-rendering/styles.38328bb934a8a0e03d84.css?bust=43c503c24ea748cc3c1c" as="style" />
    <link rel="preload" href="https://assets.jwwb.nl/assets/website-rendering/fonts/icons-website-rendering/font/website-rendering.woff2?bust=75c266641ea17e898ac3" as="font" crossorigin="1" />
    <link rel="preconnect" href="https://gfonts.jwwb.nl" />
    <link rel="stylesheet" type="text/css" href="https://assets.jwwb.nl/assets/website-rendering/styles.38328bb934a8a0e03d84.css?bust=43c503c24ea748cc3c1c" />
    <link rel="preconnect" href="https://assets.jwwb.nl" />
    <link rel="stylesheet" type="text/css" href="https://primary.jwwb.nl/public/o/h/j/temp-liclgeqcknxyewjgibup/style.css?bust=1730927810" />
</head>

<body id="top" class="jw-is-slideshow jw-header-is-text jw-is-segment-page jw-is-frontend jw-is-no-sidebar jw-is-no-messagebar jw-is-no-touch-device jw-is-no-mobile" data-jouwweb-page="24184796" data-jouwweb-segment-id="24184796" data-jouwweb-segment-type="page" data-template-threshold="960" data-template-name="concert-banner&#x7C;countdown" itemscope itemtype="https://schema.org/WebPage">
    <meta itemprop="url" content="https://free-5666589.webadorsite.com/track-order">
    <div class="jw-background"></div>
    <div class="jw-body">
        <div class="jw-mobile-menu jw-mobile-is-text js-mobile-menu">
            <span class="jw-mobile-menu__button jw-mobile-menu__button--dummy"></span>
            <div class="jw-mobile-header jw-mobile-header--text">
                <a class="jw-mobile-header-content" href="/">
                    <div class="jw-mobile-text">
                        TrackItNow </div>
                </a>
            </div>


            <button type="button" class="jw-mobile-menu__button jw-mobile-toggle" aria-label="Toggle menu">
                <span class="jw-icon-burger"></span>
            </button>
        </div>
        <header class="header-wrap js-topbar-content-container js-fixed-header-container">
            <div class="header-wrap__inner">
                <div class="header">
                    <div class="jw-header-logo">
                        <div class="jw-header jw-header-title-container jw-header-text jw-header-text-toggle" data-stylable="true">
                            <a id="jw-header-title" class="jw-header-title" href="/">
                                TrackItNow </a>
                        </div>
                    </div>
                </div>
                <nav class="menu jw-menu-copy">
                    <ul id="jw-menu" class="jw-menu jw-menu-horizontal">
                        <li class="jw-menu-item">
                            <a class="jw-menu-link" href="/track_home/" data-page-link-id="24182718">
                                <span class="">
                                    Home </span>
                            </a>
                        </li>
                        <li class="jw-menu-item">
                            <a class="jw-menu-link" href="/ship_now/" data-page-link-id="24184780">
                                <span class="">
                                    Ship Now </span>
                            </a>
                        </li>
                        <li class="jw-menu-item jw-menu-is-active">
                            <a class="jw-menu-link js-active-menu-item" href="/order_list/" data-page-link-id="24184796">
                                <span class="">
                                    Track order </span>
                            </a>
                        </li>
                        
                        <li class="jw-menu-item">
                            <a class="jw-menu-link" href="{% url 'logout' %}"  data-page-link-id="24182761">
                                <span class="">
                                    Logout </span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </header>
        <div id="jw-slideshow" class="jw-slideshow jw-slideshow-toggle jw-slideshow--height-ratio jw-slideshow--parallax jw-slideshow--parallax-effect banner-sm" data-pause="7000" data-autoplay="1" data-transition="horizontal" data-ratio="0.33">
            <div class="bx-wrapper">
                <div class="bx-viewport">
                    <ul>
                        <li class="jw-slideshow-slide">
                            <div data-key="0" data-text="" data-subtext="" data-buttontext="" data-buttontarget="_self" data-backdrop="1" data-layout="no-text" style="background-position: 49% 52%; background-image: url(&#039;https://assets.jwwb.nl/assets/templates/concert-banner/countdown/slideshow.jpg?enable-io=true&amp;fit=bounds&amp;width=1920&amp;height=1920&#039;);" data-background-position-x="0.49" data-background-position-y="0.52" class="jw-slideshow-slide-content jw-slideshow-slide-content--display-cover jw-slideshow-slide-content--backdrop ">
                                <div class="jw-slideshow-slide-backdrop"></div>
                                <div class="bx-caption-wrapper jw-slideshow-slide-align-center">
                                    <div class="bx-caption">
                                        <div class="jw-slideshow-title"></div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="jw-slideshow__scroll-arrow">
                <i class="website-rendering-icon-down-open-big"></i>
            </div>
            <style>
                .jw-slideshow-slide-content {
                    min-height: 33vh;
                }

                @media screen and (min-height: 1200px) {
                    .jw-slideshow-slide-content {
                        min-height: 396px;
                    }
                }
            </style>
        </div>

        <script nonce="4b72e2eb2267b5bf3560c9684eabce7a">
            JOUWWEB.templateConfig = {
                header: {
                    selector: '.header-wrap__inner',
                    mobileSelector: '.jw-mobile-menu',
                    updatePusher: function(topHeight) {
                        var $sliderStyle = $('#sliderStyle');

                        if ($sliderStyle.length === 0) {
                            $sliderStyle = $('<style />')
                                .attr('id', 'sliderStyle')
                                .appendTo(document.body);
                        }

                        // Header height without mobile bar
                        var headerHeight = $('.header-wrap__inner').outerHeight();

                        var paddingTop = topHeight;
                        var paddingBottom = Math.min(headerHeight * (2 / 3), 60);
                        $sliderStyle.html(
                            '.jw-slideshow-slide-content {' +
                            '    padding-top: ' + paddingTop + 'px;' +
                            '    padding-bottom: ' + paddingBottom + 'px;' +
                            '}' +
                            '.bx-controls-direction {' +
                            '    margin-top: ' + ((paddingTop - paddingBottom) / 2) + 'px;' +
                            '}'
                        );

                        // make sure slider also gets correct height (because of the added padding)
                        $('.jw-slideshow-slide[aria-hidden=false]').each(function(index) {
                            var $this = $(this);
                            topHeight = $this.outerHeight() > topHeight ? $this.outerHeight() : topHeight;
                            $this.closest('.bx-viewport').css({
                                height: topHeight + 'px',
                            });
                        });

                        // If a page has a message-bar, offset the mobile nav.
                        const $messageBar = $('.message-bar');
                        if ($messageBar.length > 0) {
                            $('.js-mobile-menu, .jw-menu-clone').css('top', $messageBar.offset().top + $messageBar.outerHeight());
                        }
                    },
                },
                mainContentOffset: function() {
                    const $body = $('body');

                    function measureAffixedHeaderHeight() {
                        const $headerWrap = $('.header-wrap');
                        const $headerWrapInner = $('.header-wrap__inner');

                        // Early return if header is already affixed
                        if ($body.hasClass('jw-is-header-affix')) {
                            return $headerWrap.height();
                        }

                        // Switch to affixed header (without transition)
                        $headerWrapInner.css('transition', 'none');
                        $body.addClass('jw-is-header-affix');

                        // Measure affixed header height
                        const headerHeight = $headerWrap.height();

                        // Switch back to unaffixed header (without transition)
                        $body.removeClass('jw-is-header-affix');
                        $headerWrap.height(); // force reflow
                        $headerWrapInner.css('transition', '');

                        return headerHeight;
                    }

                    const headerHeight = measureAffixedHeaderHeight();
                    return $('.main-content').offset().top - ($body.hasClass('jw-menu-is-mobile') ? 0 : headerHeight);
                },
            };
        </script>
        <div class="main-content">

            <main class="block-content">
                <div data-section-name="content" class="jw-section jw-section-content jw-responsive">
                    <div id="jw-element-404498215" data-jw-element-id="404498215" class="jw-tree-node jw-element jw-strip-root jw-tree-container">
                        <div id="jw-element-404501221" data-jw-element-id="404501221" class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary">
                            <div class="jw-strip__content-container">
                                <div class="jw-strip__content jw-responsive">
                                    <div id="jw-element-404501223" data-jw-element-id="404501223" class="jw-tree-node jw-element jw-text jw-node-is-first-child jw-node-is-last-child">
                                        <div class="jw-element-imagetext-text">
                                            <h1 class="jw-heading-130">Track Order</h1>
                                            <p>Welcome to the Track Order page of TrackItNow. Here you can easily track the status of your orders with real-time updates on the dispatch and delivery of your shipments. Stay informed and ensure on-time delivery with TrackItNow.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="jw-element-411709848" data-jw-element-id="411709848" class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-last-child">
                            <div class="jw-strip__content-container">
                                <div class="jw-strip__content jw-responsive">
                                    <div id="jw-element-411710043" data-jw-element-id="411710043" class="jw-tree-node jw-element jw-table jw-node-is-first-child jw-node-is-last-child">
                                        <div class="js-table-view responsive-table-container">
                                            <table width="100%" class="jw-table jw-table--header jw-table--striped">
                                                <thead>
                                                    <tr>
                                                        <th width="14%">OrderID</th>
                                                        <th width="22%">Pickup location(eir code)</th>
                                                        <th width="22%">Delivery location(eir code)</th>
                                                        <th width="24%">Delivery status</th>
                                                        <th width="14%">Edit</th>
                                                        <th width="14%">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for pickup,drop in orders %}
                                                    <tr>
                                                        <td width="14%">{{ forloop.counter }}</td> <!-- Auto-incremented Order ID -->
                                                        <td width="22%">{{ pickup }}</td>
                                                        <td width="22%">{{ drop}}</td>
                                                        <td width="24%">Pending</td>
                                                        <td class="col-2 text-center">
                                                            <a href="" class="btn btn-outline-warning btn-sm">
                                                                <i class="bi bi-pencil"></i> Edit
                                                            </a>
                                                        </td>
                                                        <td class="col-2 text-center">
                                                            <form method="post" action="{% url 'delete' forloop.counter  %}" class="d-inline">
                                                                {% csrf_token %}
                                                                <button type="submit" name="delete" class="btn btn-outline-danger btn-sm">
                                                                    <i class="bi bi-trash"></i> Delete
                                                                </button>
                                                            </form>
                                                        </td>
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
    </div>
    </div>
    </main>
    </div>
    <footer class="block-footer">
        <div data-section-name="footer" class="jw-section jw-section-footer jw-responsive">
            <div class="jw-strip jw-strip--default jw-strip--style-color jw-strip--primary jw-strip--color-default jw-strip--padding-both">
                <div class="jw-strip__content-container">
                    <div class="jw-strip__content jw-responsive">
                        <div id="jw-element-404457167" data-jw-element-id="404457167" class="jw-tree-node jw-element jw-simple-root jw-tree-container jw-tree-container--empty">
                        </div>
                        <div class="jw-credits clear">
                            <div class="jw-credits-owner">
                                <div id="jw-footer-text">
                                    <div class="jw-footer-text-content">
                                        &copy; 2024 TrackItNow </div>
                                </div>
                            </div>
                            <div class="jw-credits-right">
                                <div id="jw-credits-tool">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div class="jw-bottom-bar__spacer">
        <div class="jw-website-spacer jw-website-spacer--jump-to-editor"></div>
    </div>
    <div id="jw-variable-loaded" style="display: none;"></div>
    <div id="jw-variable-values" style="display: none;">
        <span data-jw-variable-key="background-color" class="jw-variable-value-background-color"></span>
        <span data-jw-variable-key="background" class="jw-variable-value-background"></span>
        <span data-jw-variable-key="font-family" class="jw-variable-value-font-family"></span>
        <span data-jw-variable-key="paragraph-color" class="jw-variable-value-paragraph-color"></span>
        <span data-jw-variable-key="paragraph-link-color" class="jw-variable-value-paragraph-link-color"></span>
        <span data-jw-variable-key="paragraph-font-size" class="jw-variable-value-paragraph-font-size"></span>
        <span data-jw-variable-key="heading-color" class="jw-variable-value-heading-color"></span>
        <span data-jw-variable-key="heading-link-color" class="jw-variable-value-heading-link-color"></span>
        <span data-jw-variable-key="heading-font-size" class="jw-variable-value-heading-font-size"></span>
        <span data-jw-variable-key="heading-font-family" class="jw-variable-value-heading-font-family"></span>
        <span data-jw-variable-key="menu-text-color" class="jw-variable-value-menu-text-color"></span>
        <span data-jw-variable-key="menu-text-link-color" class="jw-variable-value-menu-text-link-color"></span>
        <span data-jw-variable-key="menu-text-font-size" class="jw-variable-value-menu-text-font-size"></span>
        <span data-jw-variable-key="menu-font-family" class="jw-variable-value-menu-font-family"></span>
        <span data-jw-variable-key="menu-capitalize" class="jw-variable-value-menu-capitalize"></span>
        <span data-jw-variable-key="website-size" class="jw-variable-value-website-size"></span>
        <span data-jw-variable-key="footer-text-color" class="jw-variable-value-footer-text-color"></span>
        <span data-jw-variable-key="footer-text-link-color" class="jw-variable-value-footer-text-link-color"></span>
        <span data-jw-variable-key="footer-text-font-size" class="jw-variable-value-footer-text-font-size"></span>
        <span data-jw-variable-key="content-color" class="jw-variable-value-content-color"></span>
        <span data-jw-variable-key="header-color" class="jw-variable-value-header-color"></span>
        <span data-jw-variable-key="accent-color" class="jw-variable-value-accent-color"></span>
        <span data-jw-variable-key="footer-color" class="jw-variable-value-footer-color"></span>
        <span data-jw-variable-key="menu-text-over-banner-color" class="jw-variable-value-menu-text-over-banner-color"></span>
    </div>
    </div>
   
    </script>
    <script src="https://assets.jwwb.nl/assets/build/website-rendering/en-GB.js?bust=cf18a12efd2e9580cec0" nonce="4b72e2eb2267b5bf3560c9684eabce7a"></script>
    <script src="https://assets.jwwb.nl/assets/website-rendering/runtime.83873eca6f8ea0bbcded.js?bust=967d40bf7c81bb2096a3" nonce="4b72e2eb2267b5bf3560c9684eabce7a"></script>
    <script src="https://assets.jwwb.nl/assets/website-rendering/166.5a795a088a6b10acf59e.js?bust=d6e2cf922a8a672c588d" nonce="4b72e2eb2267b5bf3560c9684eabce7a"></script>
    <script src="https://assets.jwwb.nl/assets/website-rendering/main.05f60febad5369abacbe.js?bust=c0fda4e6f8c9e527d96d" nonce="4b72e2eb2267b5bf3560c9684eabce7a"></script>
    <script nonce="4b72e2eb2267b5bf3560c9684eabce7a">
        Unsafe.authorized();
    </script>
</body>

</html>